<div class="main-content">

	<!-- You only need this form and the form-login.css -->

	<form class="form-login" (ngSubmit)="onSubmit()" #userLogin
		Form="ngForm" method="post" action="#">

		<div class="form-log-in-with-email">

			<div class="form-white-background">

				<div class="form-row">
					<label> <span>id::</span> <input [(ngModel)]="id"
						type="text" name="id" required>
					</label>
				</div>

				<div class="form-row">
					<label> <span>FirstName:</span> <input [(ngModel)]="fname"
						type="text" name="fname" required>
					</label>
				</div>
				<div class="form-row">
					<label> <span>LastName:</span> <input [(ngModel)]="lname"
						type="text" name="lname" required>
					</label>
				</div>

				<div class="form-row">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
        <div class="form-row">
          <button type="button" (click)="onClickMe()">GetAll</button>
	      </div>
        
        <div *ngFor="let person of peopleList" class="form-row">
          <label><span>{{ person.id }} {{ person.firstName }} {{ person.lastName }}</span></label>
		    </div>
			</div>

		</div>

	</form>
