<div class="main-content">

  <!-- You only need this form and the form-login.css -->

  <form class="form-login" (ngSubmit)="onSubmit()" #userLogin Form="ngForm" method="post" action="#">

    <div class="form-log-in-with-email">

      <div class="form-white-background">

      

        <div class="form-row">
          <label> <span>id::</span> <input [(ngModel)]="id" type="text" name="id" required>
          </label>
        </div>

        <div class="form-row">
          <label> <span>FirstName chageagain::</span> <input [(ngModel)]="fname" type="text"
                                               name="fname" required>
          </label>
        </div>
        <div class="form-row">
          <label> <span>LastName change again::</span> <input [(ngModel)]="lname" type="text"
                                               name="lname" required>
          </label>
        </div>

        <div class="form-row">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>

      </div>

      <a href="#" class="form-forgotten-password">Forgotten password
        &middot;</a> <a href="#" class="form-create-an-account">Create an
      account &rarr;</a>

    </div>


  </form>

</div>



